In [1]:
#To upload files from your machine to the Colab environment.
from google.colab import files
uploaded = files.upload()

Saving Train_Claim.csv to Train_Claim.csv

In [2]:
import os
import numpy as np
import pandas as pd
import sklearn

In [4]:
#Read the data from the CSV file and create a pandas dataframe object.
train = pd.read_csv(r"Train_Claim.csv")
print("Train Data:    ", train.shape)

Train Data:     (28836, 19)

In [5]:
train.head() #Display first few rows

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
0,Cust10000,03-02-2015,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,3,?,1,0,?,65501,13417,6071,46013
1,Cust10001,02-02-2015,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10,3,YES,2,1,YES,61382,15560,5919,39903
2,Cust10002,15-01-2015,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22,1,YES,2,3,NO,66755,11630,11630,43495
3,Cust10003,19-01-2015,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22,1,YES,2,3,NO,66243,12003,12003,42237
4,Cust10004,09-01-2015,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10,1,NO,2,1,YES,53544,8829,7234,37481

In [6]:
train.nunique() #Count and display number of unique values

CustomerID               28836
DateOfIncident              72
TypeOfIncident               4
TypeOfCollission             4
SeverityOfIncident           4
AuthoritiesContacted         5
IncidentState                7
IncidentCity                 7
IncidentAddress           1000
IncidentTime                25
NumberOfVehicles             4
PropertyDamage               3
BodilyInjuries               3
Witnesses                    5
PoliceReport                 3
AmountOfTotalClaim       21976
AmountOfInjuryClaim      11958
AmountOfPropertyClaim    11785
AmountOfVehicleDamage    20041
dtype: int64

In [7]:
train.head().T # Swaps the rows and columns

,0,1,2,3,4
CustomerID,Cust10000,Cust10001,Cust10002,Cust10003,Cust10004
DateOfIncident,03-02-2015,02-02-2015,15-01-2015,19-01-2015,09-01-2015
TypeOfIncident,Multi-vehicle Collision,Multi-vehicle Collision,Single Vehicle Collision,Single Vehicle Collision,Single Vehicle Collision
TypeOfCollission,Side Collision,Side Collision,Side Collision,Side Collision,Rear Collision
SeverityOfIncident,Total Loss,Total Loss,Minor Damage,Minor Damage,Minor Damage
AuthoritiesContacted,Police,Police,Other,Other,Fire
IncidentState,State7,State7,State8,State9,State8
IncidentCity,City1,City5,City6,City6,City6
IncidentAddress,Location 1311,Location 1311,Location 2081,Location 2081,Location 1695
IncidentTime,17,10,22,22,10
NumberOfVehicles,3,3,1,1,1
PropertyDamage,?,YES,YES,YES,NO
BodilyInjuries,1,2,2,2,2
Witnesses,0,1,3,3,1
PoliceReport,?,YES,NO,NO,YES
AmountOfTotalClaim,65501,61382,66755,66243,53544
AmountOfInjuryClaim,13417,15560,11630,12003,8829
AmountOfPropertyClaim,6071,5919,11630,12003,7234
AmountOfVehicleDamage,46013,39903,43495,42237,37481

In [8]:
train.describe() #Generate descriptive statistics of the dataframe

,IncidentTime,NumberOfVehicles,BodilyInjuries,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
count,28836.000000,28836.000000,28836.000000,28836.000000,28836.000000,28836.000000
mean,11.746047,1.823207,0.985782,7337.118428,7283.870197,37687.129387
std,6.170069,0.980099,0.784764,4427.638593,4375.842738,17977.048232
min,-5.000000,1.000000,0.000000,0.000000,0.000000,109.000000
25%,6.000000,1.000000,0.000000,4743.750000,4862.000000,32193.250000
50%,12.000000,1.000000,1.000000,7147.000000,7051.000000,42457.500000
75%,17.000000,3.000000,2.000000,10571.250000,10327.000000,49535.750000
max,23.000000,4.000000,2.000000,21450.000000,23670.000000,79560.000000

In [9]:
#Keep the first occurrence of each duplicated row and drop the subsequent duplicates.
train.drop_duplicates(keep = 'first',inplace=True)
print(train.shape)

(28836, 19)

In [10]:
 #Convert selected columns
cat_cols = train.select_dtypes(include='object').columns
for col in cat_cols:
    train[col] = train[col].astype('category')

In [11]:
#List of all categorical data columns
cat_cols = ['TypeOfIncident', 'TypeOfCollission', 'SeverityOfIncident', 'AuthoritiesContacted', 'IncidentState', 'IncidentCity', 
           'PropertyDamage','PoliceReport']

In [12]:
#List of all numerical data colums
num_cols = ['CustomerID','DateOfIncident', 'IncidentTime', 'NumberOfVehicles', 'BodilyInjuries', 'IncidentAddress', 'Witnesses',
            'AmountOfInjuryClaim', 'AmountOfPropertyClaim', 'AmountOfVehicleDamage', 'AmountOfTotalClaim']

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [15]:
#Split the train DataFrame into input features, X and the target variable, y. 
#Further split the data into training and testing sets
X = train.drop('SeverityOfIncident', axis=1)  # Input features
y = train['SeverityOfIncident']  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(23068, 18)
(5768, 18)
(23068,)
(5768,)

In [17]:
y_train.value_counts(normalize=True)*100

Minor Damage      35.967574
Total Loss        28.611063
Major Damage      26.634299
Trivial Damage     8.787064
Name: SeverityOfIncident, dtype: float64

In [18]:
y_test.value_counts(normalize=True)*100

Minor Damage      36.459778
Total Loss        28.051318
Major Damage      26.473648
Trivial Damage     9.015257
Name: SeverityOfIncident, dtype: float64

In [37]:
#Create new dataframes 
cat_cols = ['TypeOfIncident', 'TypeOfCollission', 'AuthoritiesContacted', 'IncidentState', 'IncidentCity', 
           'PropertyDamage','PoliceReport']

df_cat_train = X_train[cat_cols]
df_cat_test = X_test[cat_cols]
print(df_cat_train.shape)
print(df_cat_test.shape)

(23068, 7)
(5768, 7)

In [38]:
df_num_train = X_train[num_cols]
df_num_test = X_test[num_cols]
print(df_num_train.shape)
print(df_num_test.shape)

(23068, 11)
(5768, 11)

In [39]:
#Impute missing values by replacing the missing data with most frequently occuring values
from sklearn.impute import SimpleImputer
cat_imputer = SimpleImputer(strategy="most_frequent")
cat_imputer.fit(df_cat_train)

df_cat_imp_train = pd.DataFrame(cat_imputer.transform(df_cat_train), columns=cat_cols)
df_cat_imp_test = pd.DataFrame(cat_imputer.transform(df_cat_test), columns=cat_cols)

In [40]:
print(df_cat_imp_train.shape)
print(df_cat_imp_test.shape)

(23068, 7)
(5768, 7)

In [41]:
print(df_cat_imp_train.nunique())

TypeOfIncident          4
TypeOfCollission        4
AuthoritiesContacted    5
IncidentState           7
IncidentCity            7
PropertyDamage          3
PoliceReport            3
dtype: int64

In [50]:
#Impute missing values by replacing the missing data with most frequently occuring values
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='most_frequent')
num_imputer.fit(df_num_train)

df_num_imp_train = pd.DataFrame(num_imputer.transform(df_num_train), columns=num_cols)
df_num_imp_test =  pd.DataFrame(num_imputer.transform(df_num_test), columns=num_cols)

In [51]:
print(df_num_imp_train.shape)
print(df_num_imp_test.shape)

(23068, 11)
(5768, 11)

In [56]:
print(df_num_imp_train.nunique())

CustomerID               23068
DateOfIncident              72
IncidentTime                25
NumberOfVehicles             4
BodilyInjuries               3
IncidentAddress           1000
Witnesses                    5
AmountOfInjuryClaim      10891
AmountOfPropertyClaim    10735
AmountOfVehicleDamage    17134
AmountOfTotalClaim       18497
dtype: int64

In [52]:
#Check for any remaining null values in the dataset
X_train1 = pd.concat([df_cat_imp_train, df_num_imp_train], axis = 1)
X_test1 = pd.concat([df_cat_imp_test, df_num_imp_test], axis = 1)
print(X_train1.isna().sum())
print(X_test1.isna().sum())

TypeOfIncident           0
TypeOfCollission         0
AuthoritiesContacted     0
IncidentState            0
IncidentCity             0
PropertyDamage           0
PoliceReport             0
CustomerID               0
DateOfIncident           0
IncidentTime             0
NumberOfVehicles         0
BodilyInjuries           0
IncidentAddress          0
Witnesses                0
AmountOfInjuryClaim      0
AmountOfPropertyClaim    0
AmountOfVehicleDamage    0
AmountOfTotalClaim       0
dtype: int64
TypeOfIncident           0
TypeOfCollission         0
AuthoritiesContacted     0
IncidentState            0
IncidentCity             0
PropertyDamage           0
PoliceReport             0
CustomerID               0
DateOfIncident           0
IncidentTime             0
NumberOfVehicles         0
BodilyInjuries           0
IncidentAddress          0
Witnesses                0
AmountOfInjuryClaim      0
AmountOfPropertyClaim    0
AmountOfVehicleDamage    0
AmountOfTotalClaim       0
dtype: int64

**Handling by ForwardFilling and BackFilling**

In [26]:
#Remove rows with any missing values
train.dropna(inplace=True)

#Remove columns with any missing values
train.dropna(axis=1, inplace=True)

In [34]:
#Replace missing values using bfill and ffill for multiple columns
columns_to_fill = ['TypeOfCollission', 'IncidentTime', 'PropertyDamage', 'PoliceReport', 'Witnesses', 'AmountOfTotalClaim']

#Apply backward fill
train[columns_to_fill] = train[columns_to_fill].fillna(method='bfill')

#Apply forward fill
train[columns_to_fill] = train[columns_to_fill].fillna(method='ffill')

In [35]:
train.isnull().sum()

CustomerID               0
DateOfIncident           0
TypeOfIncident           0
TypeOfCollission         0
SeverityOfIncident       0
AuthoritiesContacted     0
IncidentState            0
IncidentCity             0
IncidentAddress          0
IncidentTime             0
NumberOfVehicles         0
PropertyDamage           0
BodilyInjuries           0
Witnesses                0
PoliceReport             0
AmountOfTotalClaim       0
AmountOfInjuryClaim      0
AmountOfPropertyClaim    0
AmountOfVehicleDamage    0
dtype: int64